
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 700,
  'GRAD' 0,
  'opsz' 48
}

.banner{

  background-image: url(../images/bg_home_mobile.jpg);
  background-size: 100%;
  padding-bottom:93.3333% ;
  background-position: center;
  background-repeat: no-repeat;
  height: 0;
  position: relative;
  @include pad{
    background-image: url(../images/bg_home.jpg);
    background-size: cover;
    height: calc( 100vh - 90px );
    padding-bottom: 0;
    

  }
  .banner__text{
    width: 93%;
    @include pad{
      width: 650px;
    }
    &__content{
      padding: 32px 28px;
      h2{
        font-size: 24px;
        @include pad{
          font-size: 48px;
        }
      }
      p{
        font-size: 14px;
        @include pad{
          font-size: 18px;
        }
      }
    }
  }

}

.text__deco{
  width: 10px;
  height: 10px;
  background: $light;
}
.lead{
  position: relative;
  &::after{
    content: "";
    position: absolute;
    width: 50px;
    height: 3px;
    background-color: $primary;
    left: 50%;
    transform: translatex(-50%);
    bottom: -16.5px;
    @include pad{
      left: 0;
      transform: none;
    }
  }
}

.hand__item{
  position: relative;
  transition: all .5s;
  &:hover{
    background-color:$index-banner;
    transition: all .5s;
    span{
        background: $gradient;
        background-clip: text;
        color: transparent;
    }
    &::after{
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 1px solid $primary;
      border-radius: 12px;
    }
  }
  
}
.courseFlow{
  h3{
    font-size: 22px;
    margin-bottom: 50px;
    @include pad{
      margin-bottom: 74px;
      font-size: 28px;
    }
  }
  &__content{
    gap:50px 0;
  }
}
.courseFlow__number{
  position: absolute;
  font-size: 48px;
  color: $primary;
  top: -36px;
  left: 48px;
  background-color: $darker;
}

.code__list{
  gap: 0 8px;
  overflow-x:auto ;
  @include pad{
    gap: 0 16px;
  }
  li{
    a{
      padding: 16px;
      @include pad{
        padding: 24px 32px;
        border: 1px solid $white;
        border-radius: $border-radius-sm;
        color:$white;
        font-weight: bold;
        font-size: 16px;
        @include pad{
          font-size: 18px;
        }
      }
    }
  }
}
.recommend__item{

  img{
    width: 100px;
    height: 100px;
    margin: 0 auto;
  }
  p{
    &:nth-child(3){
      font-size: 20px;
      font-weight: bold;
    }
    &:nth-child(4){
      color: $primary;
    }
  }
  &__first{
    margin-bottom: 47px;
  }
}
.btn-gradient{
  margin: 0 auto;
  display: inline-block;
  background:linear-gradient(105deg ,$secondary,$primary);
  border-radius: $border-radius-sm;
  color:$white;
}
.course__item__wrap{
 
  &:hover{
  position: relative;
  &::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    border:1px solid $primary;
    top: 0;
    left: 0;
    border-radius:$border-radius-lg;
  }

  }
}
.border-top{
  border-top:1px solid #C1C1C1 !important;
}

.feature__img{
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  padding-bottom: 73.055556%;
  position: relative;

  &:hover{
    &::before{
      background-color: #1A1A1A;
      opacity: 0.12;
    }
    .feature__img__content{
      span{
        color: $primary;
        opacity:1;
      }
      p{
        &:nth-child(3){
          opacity: 1;
        }
      }
    }
  }
    &::before{
      position: absolute;
      content: "";
      top: 0;
      height: 100%;
      width: 100%;
      background-color: $darker;
      opacity: 0.9; 
      transition: all .5s;
    }
    @include pc{
        background-size: cover;
        height: 618px;
    }
  &--1{
      background-image: url('../images/info01.jpg');
  }
  &--2{
      background-image: url('../images/info02.jpg');
  }
  &--3{
      background-image: url('../images/info03.jpg');
  }
  &--4{
      background-image: url('../images/info04.jpg');
  }
  &__content{
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 73%;
    
    @include pc{
      align-items:flex-start;
    }
    p{
        &:nth-child(2){
          font-size: 24px;
          font-weight: bold;
          position: relative;
          &::before{
            @include pc{
              left: 0;
              transform: translateX(0);
            }
            
          }
          
        
        }
        &:nth-child(3){
          opacity: 0.8;
          text-align: center;
          @include pc{
            text-align: initial;
            opacity: 0.5;
          }
        }
      }
      span{
        color:$primary;
        @include pc{
          color: $white;
          opacity: 0.5;
        }
      }
    
  } 
}
// article hover 四個角角
.article__item{
  @include pad{
  position: relative;
  &:hover{
      &::before{
          position: absolute;
          content: "";
          border: 1px solid $primary;
          border-radius: 12px;
          width: 100%;
          height: 100%;
          top: 0;
          left: 50%;
          transform: translateX(-50%);
      }
      .article__item__mask--vertical{
          position: relative;
         
              &::before{
                  position: absolute;
                  content: "";
                  width: calc( 100% - 64px );
                  height: 32px;
                  background-color:$darker;
                  top: 0;
                  left: 50%;
                  transform: translateX(-50%);
              }
              &::after{
                position: absolute;
                content: "";
                width: calc( 100% - 64px );
                height: 32px;
                background-color:$darker;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
              }
          
      }
      .article__item__mask--horiz{
        position: relative;
        
              &::before{
                  position: absolute;
                  content: "";
                  height: calc( 100% - 64px );
                  width: 32px;
                  background-color:$darker;
                  top: 50%;
                  left: 0;
                  transform: translateY(-50%);
              }
              &::after{
                position: absolute;
                content: "";
                height: calc( 100% - 64px );
                width: 32px;
                background-color:$darker;
                top: 50%;
                right: 0;
                transform: translateY(-50%);
              }
          
      }
      
  }
}
}
// article hover 四個角角