main{
    margin-top: 72px;
    @include pad{
    margin-top: 90px;
    }
}
.logo{
    a{
    display: block;
    width: 23.88px;
    height: 24px;
    background-image: url("../images/logo2.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    text-decoration: none;
    overflow: hidden;
    text-indent: 101%;
    white-space: nowrap;
    @include pad{
        width: 174.42px;
        height: 42px;
        background-image: url("../images/logo.svg");
    }
    }
}
nav{
    .nav__content--mobile{
    position: absolute;
    max-height: 0px;
    width: 100%;
    top: 72px;
    right: 0;
    flex-direction: column;
    align-items: center;
    background-color: $dark;
    overflow: hidden;
    li{
        width: 100%;
        a{
            font-size: 18px;
            text-align: center;
        }
    }
   
    &.open{
        max-height: 174px;
    }
    }
    position: relative;
    &::before{
        content: "";
        position: absolute;
        background-color: $primary;
        width: 50%;
        height: 2px;
        bottom: 0;
        left: 0;
    }
    &::after{
        content: "";
        position: absolute;
        background-color: $secondary;
        width: 50%;
        height: 2px;
        bottom: 0;
        right:0 ;

    }
}



.btn__buger{
    width: 24px;
    height: 24px;
    position: relative;

    @include pad{
        display: none;
    }
    &::before,&::after{
        position: absolute;
        content: "";
        width: 16px;
        height: 2px;
        background-color: $primary;
        transition: all .5s;
        left: 50%;
        transform: translateX(-50%);
    }
    &::before{
        top: 9px;
    }
    &::after{
        bottom: 9px;
    }
    &.open{
        &::before{
            top: 50%;
            transform: translateX(-50%);
            transform: rotate(-45deg);
        }
        &::after{
            top: 50%;
            transform: translateX(-50%);
            transform: rotate(45deg);
        }
    }

}

.footer{
    background-color: #1A1A1A;
 
    p{   
         color: #909090;
        font-size: 12px;  
        line-height: 1.1875;
        @include pad{
            font-size: 16px;
        }
    }
}

.loginForm{
    width: 331px;
    margin: 0 auto;
    @include d-pad{
        width: 100%;
    }

    &__other{
        position: relative;
        &::before,&::after{
            position: absolute;
            content: "";
            width: 31.41994%;
            height: 1px;
            background-color: $light-gray;
            top: 50%;
            transform: translateY(-50%);
            @include d-pad {
                width: 27.7777778%;
                
            }
           
        }
        &::before{
            left: 0;
        }
        &::after{
            right: 0;
        }
    }
}


