
.text-liner-gradient{
    background: $gradient;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.fz-50{
    font-size: 50px;
}

.text-underLine-middle{
    position: relative;
    &::before{
        position: absolute;
        content: "";
        background-color: $primary;
        width: 50px;
        height: 3px;
        bottom: -1px;
        left: 50%;
        transform: translateX(-50%);



    }
}

//swiper
.swiper {
    width: 100%;
    height: 429px;
    &-img{
        width: 61%;
    }
  }
  


  .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    opacity: 1;
    background: $primary;
  }

  .swiper-pagination-bullet-active {
    
    background: $primary;
    width: 16px;
    height: 8px;
    border-radius: 100px;
  }
  .share__card{
    width: 48.5981%;
    color:#494755;
    position: absolute;
    right: 0;
    bottom: 0px;
    padding: 32px;
    border-radius: 24px 24px 24px 0;
    &__img{
        object-fit: cover;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        position: absolute;
        right: 32px;
        top:-50px

    }
  }
  .swiper-button{
    position: absolute;
    .swiper-button-next, .swiper-button-prev{
      position: unset;
      &::after{
          content: "";
      }
    }
  }
//swiper
